:root {
    font-size: 1.5rem;
    --dark-primary-color: #1976D2;
    --light-primary-color: #BBDEFB;
    --primary-color: #2196F3;
    --text-icon-color: #FFFFFF;
    --accent-color: #448AFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;

}

body {
    margin: 0;
    padding: 0;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: var(--primary-color);
    border-top: 15px solid var(--dark-primary-color);
}

.content {
    background-color: var(--light-primary-color);
}