:root {
    --dark-primary-color: #1976D2;
    --light-primary-color: #BBDEFB;
    --primary-color: #2196F3;
    --text-icon-color: #FFFFFF;
    --accent-color: #448AFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.header-title {
    font-size: 2.5rem;
    color: var(--text-icon-color);
    font-weight: 200;
    align-self: center;
    justify-self: center;

}

#add-book {
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-size: 1.5rem;
    width: 250px;
    height: 100px;
    border-radius: 50px;
    border: none;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 20px 30px;
    transition: all ease 0.5s;
    margin: 20px;
}

#add-book:hover {
    background-color: var(--dark-primary-color);
}

#add-book .material-icons {
    font-size: 3.5rem;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
}

.header {
    background-color: var(--primary-color);
    border-top: 15px solid var(--dark-primary-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.content {
    background-color: var(--light-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(77, 77, 77);
    /* outline: 2px red solid; */
}