:root {
    --dark-primary-color: #1976D2;
    --light-primary-color: #BBDEFB;
    --primary-color: #2196F3;
    --text-icon-color: #FFFFFF;
    --accent-color: #448AFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    font-family: 'Ubuntu', sans-serif;
}

body {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.header-title {
    font-size: 1.5rem;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: var(--primary-color);
    border-top: 15px solid var(--dark-primary-color);
}

.content {
    background-color: var(--light-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
}

.book-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    outline: 2px red solid;
}