:root {
    --dark-primary-color: #0169d0;
    --light-primary-color: #BBDEFB;
    --primary-color: #2196F3;
    --text-icon-color: #FFFFFF;
    --accent-color: #448AFF;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: #BDBDBD;
    --accent-highlight-color: rgb(255, 0, 0);
    font-family: 'Nunito Sans', serif;
}

body {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

.header-title {
    font-size: 5rem;
    color: transparent;
    font-weight: 100;
    align-self: center;
    justify-self: center;
    background: linear-gradient(to bottom, #000000, #005ac7); 
    background-clip: text;
}

#add-book {
    background-color: var(--accent-color);
    color: #FFFFFF;
    font-size: 1.5rem;
    min-width: 300px;
    width: min(100%, 230px);
    height: min(100%, 100px);
    border-radius: 50px;
    border: none;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding: 20px 30px;
    transition: all ease 0.2s;
    margin: 20px;
    box-shadow: 0 5px #666;
}

#add-book:hover {
    background-color: var(--dark-primary-color);
}

#add-book:active {
    background-color: var(--dark-primary-color);
    box-shadow: 0 5px #666;
    transform: translateY(-10px);
    color: #ddd;
}

.button-text {
    font-weight: 200;
}


  
#add-book:active .material-icons {
    color: var(--accent-highlight-color);
}

#add-book .material-icons {
    font-size: 3.5rem;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 5fr;
    height: 100vh;
}

.header {
    background-color: var(--primary-color);
    border-top: 15px solid var(--dark-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: 1fr;
}

.content {
    background-color: var(--light-primary-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
    padding: 20px;
    box-shadow: inset 0px 5px 5px rgb(134, 134, 134);
}

.book-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(77, 77, 77);
    transition: transform ease 0.5s;
    padding: 20px;
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr;
}

.book-card-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 2fr min-content min-content;
}

.book-card:hover {
    transform: translateY(-10px);
    transform: scale(1.02);
}

.book-title {
    font-size: 2rem;
    font-weight: 600;
}

.book-author {
    font-size: 1.5rem;
    color: #555;
    font-style: italic;
}

.book-card-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
}

.book-card-right .material-icons {
    justify-self: right;
    color: #555;
    transition: transform ease 0.2s;
}

.book-card-right .material-icons:hover {
    color: var(--accent-highlight-color);
    transform: scale(1.2);
    cursor: pointer;
}

.book-card-right .material-icons:active {
    transform: translateY(10px);
}

.book-is-read {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 1fr;
    gap: 5px;
    align-items: center;
}